
<div class="container mt-5  p-3 ">

    <form class="p-3"  style="background-color: rgba(255, 255, 255, 0.63)" method="post" action="http://127.0.0.1:4000/login">
     

        <label for="email" class="form-label">Email:</label>
        <input id="email" class="form-control mb-3" type="email" name="email"  required autocomplete="username">
        <br>
        <label for="password" class="form-label">Contraseña:</label>
        <input id="password" class="form-control mb-3" type="password" name="password"  required autocomplete="current-password">
        
        <br>
        <div class="text-center">
            <button id="login" type="submit" class="btn btn-success btn-lg m-auto"> Iniciar sesión. </button>
        </div>
        

    </form>
    
</div>
