
<div class="container">

    <form method="post" action="localhost:4000/login">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password">
        
        <button type="submit" class="btn btn-primary"> Iniciar sesión. </button>
        

    </form>
    
</div>